* {

.logo {
  width: 70px;
}

.menu {
  display: flex;
  gap: 25px;
}

.menu a {
  color: #cfe8ff;
  text-decoration: none;
  font-weight: bold;
}

.page-section {
  padding: 80px 0;
}

.page-heading {
  font-size: 58px;
  margin-bottom: 20px;
  color: #9ed0ff;
}

.small-blue {
  color: #53b7ff;
  margin-bottom: 10px;
}

.big-title {
  font-size: 44px;
  margin-bottom: 25px;
}

.content-text {
  color: #dbeaff;
  line-height: 1.9;
  margin-bottom: 40px;
}

.about-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  align-items: center;
}

.about-image {
  width: 100%;
  border-radius: 25px;
}

.feature-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.service-grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 25px;
}

.service-card {
  background: rgba(0,30,70,.85);
  border: 1px solid 
